node_modules
.DS_Store
dist
dist-ssr
*.local
*.swp
packages/core/package-lock.json
/package-lock.json
yarn-error.log
packages/express-server/client
packages/express-server/bundle
packages/express-server/bundles
packages/express-server/public
packages/**/stats.html
packages/**/client-stats.html
packages/**/server-stats.html
packages/**/hooks-stats.html
/coverage/
/result.json
packages/**/coverage
packages/**/result.json
scripts/make-deploy.sh
*.js.map
docs/.jekyll-cache
docs/_site
docs/Gemfile
docs/Gemfile.lock
